*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(232, 232, 216);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(52, 52, 52, 0.906);
}
.left{
    width: 30%;
}
.left img{
    width: 120px;
    
}
.middle{
    width: 50%;
}
.middle ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.middle ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(27, 203, 203);
    border: 2px solid grey;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
}
.middle ul li a:hover{
    color: rebeccapurple;
    background-color: white;
    transition: 1.2s;
}
.right{
    width: 20%;
}
.right a{
    margin: 8px;
    padding: 10px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    background-color: purple;

}
.right a:hover{
    color: rgb(187, 255, 0);
    border-radius: 30%;
    transition: 1s;
}
.right a i:hover{
    transform: rotate(300deg)
}
