img{
    margin: 0px;
    padding: 10px;

}
h1{
    color: red ;
    background-color: blue;
    text-align: center;
    font-size: 100px;
    border: solid black;
    border-width: solid;
    background-position: center;
}
h3{
  color: rgb(8, 228, 111);
  font-size: 70px;
}
p{
  font-size: 50px;
}
body{
  background-image: url(image/photo-28286847.webp);
}