*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

h1{
    text-align: center;
}
.navbar{
    text-align: right;
}
.navbar ul{
    list-style-type: none;
    background-color: purple;
    overflow: hidden;

    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    
}
.navbar a:hover{
    background-color: rgb(44, 2, 44);
}
.navbar li{
    float: left;

}

