table ,th ,td{
    border: 1px solid #00ff55;
    border-collapse: collapse;
    width: 100px;
    text-align: center;
    table-layout: fixed;

}
td{
   vertical-align: middle;
}
th,td{
    padding: 10px;
    border-bottom: 1px solid green;
}
tr:hover{
    background-color: #00ff55;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    background-color: rgb(12, 12, 49);
    color: aliceblue;
}
